<!DOCTYPE html>
<html>
<head>
  <title>Erro 404 - Server Ytallo</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>404 - Página não encontrada</h1>
    <p>Oops! A página que você procura não existe.</p>
    <a href="/"><button>Voltar para Início</button></a>
  </div>
</body>
</html>
